<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  
  <connectionStrings>
    <add name="DBMIDIS"
      connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.10.40.22)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = dbsisfoh)));User ID=DESA01;Password=oracle;pooling=true;min pool size=5;Max Pool Size=60"
      providerName="Oracle.DataAccess.Client" />
    <!--<add name="DBMIDIS_DESA01"
      connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.10.40.22)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = dbsisfoh)));User ID=DESA01;Password=oracle;pooling=true;min pool size=5;Max Pool Size=60"
      providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="DBMIDIS_IDUSEGUSUARIO"
      connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.10.40.22)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = dbsisfoh)));User ID=IDUSEGUSUARIO;Password=idu$egu$uario2017;pooling=true;min pool size=5;Max Pool Size=60"
      providerName="Oracle.DataAccess.Client"/>-->
  </connectionStrings>

  <log4net>
    <appender name="LogInfoAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="E:\proyectos\SEGURIDAD\log\WS_MidisSeguridadDOF(debug)-%date{yyyyMMdd}.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="INFO"/>
      </filter>
    </appender>
    <appender name="LogErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="E:\proyectos\SEGURIDAD\log\WS_MidisSeguridadDOF(error)-%date{yyyyMMdd}.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <level value="ALL"/>
      <appender-ref ref="LogInfoAppender"/>
      <appender-ref ref="LogErrorAppender"/>
    </root>
    <logger name="NHibernate">
      <level value="ERROR"/>
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR"/>
    </logger>
  </log4net>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="WebPath" value="http://localhost/MidisSeguridadDOF/Index.html#!/" />
    <!--<add key="WebPath_Local" value="http://localhost:57527/Index.html#!/" />-->
    <!--<add key="WebPath_DEV" value="http://localhost/MidisSeguridadDOF/Index.html#!/" />-->
    <!--<add key="WebPath_QA" value="http://app_pruebas.midis.gob.pe/MidisSeguridadDOF/Index.html#!/" />-->
    <!--<add key="WebPath_PROD" value="http://sdv.midis.gob.pe/MidisSeguridadDOF/Index.html#!/" />-->
    <!--<add key="WebPath_PROD" value="https://10.10.20.35/MidisSeguridadDOF/Index.html#!/" />-->
    <add key="Schema" value="DESA01" />
    <!--<add key="Schema_DESA01" value="DESA01" />-->
    <!--<add key="Schema_IDOSEGUSUARIO" value="IDOSEGUSUARIO" />-->
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="Service_Layer.Services.CORSEnablingBehavior, Service_Layer, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    
    <services>
      <service behaviorConfiguration="serviceBehavior" name="Service_Layer.Services.SSistemasServices">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Service_Layer.Services.ISSistemasServices"/>
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Service_Layer.Services.SPersonasService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Service_Layer.Services.ISPersonasService"/>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json"/>
          <!--<crossOriginResourceSharingBehavior/>-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
        <!--<add binding="basicHttpsBinding" scheme="https"/>-->
      <add binding="webHttpBinding" scheme="https"/>
    </protocolMapping>   
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

    <bindings>
      <webHttpBinding>
        <binding name="Binding" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="52428800" maxBufferPoolSize="52428800" useDefaultWebProxy="false">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="httpbind" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="52428800" maxBufferPoolSize="52428800"
          useDefaultWebProxy="false">
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>