<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBMIDIS" connectionString="Data Source=XE;User ID=ES_SEGURIDAD;Password=midis2017;pooling=true;min pool size=5;Max Pool Size=60" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>
    <extensions>
      <!--<behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior"
          type="Service_Layer.Services.CORSEnablingBehavior, Service_Layer, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>-->
    </extensions>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="Service_Layer.Services.Sistemas.SSistemaService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Service_Layer.Services.Sistemas.ISSistemaService" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="Service_Layer.Services.Sistemas.SModuloService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Service_Layer.Services.Sistemas.ISModuloService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
          <!--<crossOriginResourceSharingBehavior />-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
        <!--<add binding="basicHttpsBinding" scheme="https"/>-->
      <add binding="webHttpBinding" scheme="https"/>
    </protocolMapping>   
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

    <bindings>
      <webHttpBinding>
        <binding name="Binding" crossDomainScriptAccessEnabled="true">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="httpbind" crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    
  </system.webServer>

</configuration>
