<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Midis Seguridad | Menus por Rol</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../Content/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../Content/style.css">
</head>
<body>
    <!--MENU-->
    <div ng-controller="MenusCtrl">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="Index.html">Midis Seguridad</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-repeat="modulo in modulos">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{modulo.Abreviatura}}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="menu in modulo.Menus">
                                <a href="{{menu.Ruta}}">{{menu.Nombre}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid" ng-controller="MenuRolCtrl">
        <div class="alert alert-danger" data-ng-show="tieneError">
            <strong>ERROR: </strong> {{ error }}
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <h4>Roles</h4>
                    <div class="list-group col-md-6">
                        <a href="#" class="list-group-item" ng-repeat="rol in roles" data-ng-click="buscar(rol, $index)" ng-class="{active: $index == selectedRol}">
                            <p class="list-group-item-text">{{rol.Nombre}}</p>
                            <!--<input type="button" class="btn btn-primary" value="Seleccionar" />-->
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="container">
                    <h4>Menus</h4>
                    <form name="frmBusquedaMenu">
                        <div class="container-fluid form-group">
                            <label for="cmbBuscarSistema" class="col-md-2 control-label">Sistema: </label>
                            <div class="col-md-4">
                                <select id="cmbBuscarSistema" class="form-control" data-ng-options="sistema.Nombre for sistema in sistemas" data-ng-model="sistema" ng-change="buscarModulo()"></select>
                            </div>
                        </div>
                        <div class="container-fluid form-group">
                            <label for="cmbBuscarModulo" class="col-md-2 control-label">Modulo: </label>
                            <div class="col-md-4">
                                <select id="cmbBuscarModulo" class="form-control" data-ng-options="modulo.Nombre for modulo in modulos" data-ng-model="modulo"></select>
                            </div>
                        </div>
                        <p>
                            <input type="button" value="Buscar" data-ng-click="buscarMenu()" class="btn btn-primary" />
                        </p>
                    </form>
                    <div class="list-group">
                        <a href="#" class="list-group-item" ng-repeat="menu in menus" data-ng-click="seleccionaMenu(menu, $index)" ng-class="{active: $index == selectedMenu}">
                            <p class="list-group-item-text">{{menu.Nombre}}</p>
                            <!--<input type="button" class="btn btn-primary" value="Seleccionar" data-ng-click="seleccionaPersona(persona)" />-->
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="col-md-10">
                    <input type="hidden" id="hdnRol" data-ng-model="rolSeleccionado" />
                    <input type="hidden" id="hdnMenu" data-ng-model="menuSeleccionada" />
                    <!--<input type="text" class="form-control" id="txtPersona" data-ng-model="personaSeleccionada.Nombre" />-->
                </div>
                <div class="col-md-2">
                    <input type="button" class="btn btn-primary" value="Agregar" data-ng-click="agregaMenu()" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <h4>Menus del Rol</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="menurol in menusroles">
                        <!--<p class="list-group-item-text">{{menurol.Menu.Modulo.Sistema.Nombre}} / {{menurol.Menu.Modulo.Nombre}} / {{menurol.Menu.Nombre}}</p>-->
                        <div class="row">
                            <div class="col-md-7">
                                <label class="list-group-item-text">{{menurol.Menu.Modulo.Sistema.Nombre}} / {{menurol.Menu.Modulo.Nombre}} / {{menurol.Menu.Nombre}}</label>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-2">
                                <input type="button" class="btn btn-danger" value="Eliminar" data-ng-click="eliminarMenu(menurol)" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <input type="button" class="btn btn-primary" value="Guardar" data-ng-click="guardar()" />
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../Scripts/jquery-3.1.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Angular/myApp.js"></script>
    <script type="text/javascript" src="../Angular/Controllers/menusCtrl.js"></script>
    <script type="text/javascript" src="../Angular/Controllers/menurolCtrl.js"></script>
</body>
</html>