    <!--CONTENIDO-->
    <div class="container">
        <div class="col-md-4"></div>
        <h3 class="col-md-4">Menus</h3>
        <div class="col-md-4"></div>
    </div>
    <div class="container" ng-controller="MenuCtrl">
        <div class="alert alert-danger" data-ng-show="tieneError">
            <strong>ERROR: </strong> {{ error }}
        </div>
        <!--MANTENIMIENTO-->
        <div class="row">
            <form name="frmMenu" style="width:800px;margin:0px auto;">
                <input type="hidden" id="hdnId" data-ng-model="mymenu.Id" />
                <div class="container-fluid form-group">
                    <label for="cmbSistema" class="col-md-2 control-label">Sistema: </label>
                    <div class="col-md-8">
                        <select id="cmbSistema" class="form-control" ng-options="sistema.Nombre for sistema in sistemas track by sistema.Id" data-ng-model="mymenu.Sistema" ng-change="buscarModulo()" required></select>
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="cmbModulo" class="col-md-2 control-label">Módulo: </label>
                    <div class="col-md-8">
                        <select id="cmbModulo" class="form-control" ng-options="modulo.Nombre for modulo in modulos track by modulo.Id" data-ng-model="mymenu.Modulo" ng-change="setearModulo()" required></select>
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtCodigo" class="col-md-2 control-label">Código: </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="txtCodigo" placeholder="Ingrese el codigo del menú (obligatorio)" data-ng-model="mymenu.Codigo" maxlength="7" required />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtNombre" class="col-md-2 control-label">Nombre: </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese el nombre del menú (obligatorio)" data-ng-model="mymenu.Nombre" maxlength="50" required />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtRuta" class="col-md-2 control-label">Ruta: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtRuta" placeholder="Ingrese la ruta del menú (obligatorio)" data-ng-model="mymenu.Ruta" maxlength="200" required />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtDescripcion" class="col-md-2 control-label">Descripción: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtDescripcion" placeholder="Ingrese la descripción del menú" data-ng-model="mymenu.Descripcion" maxlength="200" />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="chkActivo" class="col-md-2 control-label">¿Está Activo?: </label>
                    <div class="col-md-6">
                        <input type="checkbox" id="chkActivo" name="Activo" ng-model="mymenu.EstaActivo"><br>
                    </div>
                </div>
                <br />
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" data-ng-click="guardar()" data-ng-disabled="!frmMenu.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancelar" data-ng-click="nuevo()" class="btn btn-danger" />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-hide="estaEditable">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Buscar" data-ng-click="buscar()" class="btn btn-primary" />
                        <input type="button" value="Nuevo" data-ng-click="nuevo()" class="btn btn-primary" />
                    </div>
                </div>
                <br />
            </form>
        </div>

        <!--LISTA-->
        <div class="row" data-ng-hide="estaEditable">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="col-md-1">Código</th>
                        <th class="col-md-3">Nombre</th>
                        <th class="col-md-2">Ruta</th>
                        <th class="col-md-1">Activo</th>
                        <th class="col-md-3">Módulo</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="menu in menus">
                        <td>{{menu.Codigo}}</td>
                        <td>{{menu.Nombre}}</td>
                        <td>{{menu.Ruta}}</td>
                        <td>{{menu.Activo}}</td>
                        <td>{{menu.Modulo.Nombre}}</td>
                        <td>
                            <p>
                                <input type="button" class="btn btn-primary" value="Modificar" data-ng-click="modificar(menu)" />
                                <!--<input type="button" class="btn btn-danger" value="Eliminar" data-toggle="modal" data-target="#confirm-delete" />-->
                            </p>
                            <!--<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">Confirmación</div>
                                        <div class="modal-body">¿Desea realmente eliminar el menú seleccionado?</div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" value="Cancelar" data-dismiss="modal" />
                                            <input type="button" class="btn btn-danger btn-ok" value="Eliminar" data-dismiss="modal" data-ng-click="eliminar(menu)" />
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divLoader" data-ng-show="loading">
            <img id="imgLoader" src="Images/ajax-loader.gif" class="ajax-loader" />
        </div>
    </div>