<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" media="screen">
</head>
<body>
    <h2>Modulo</h2>

    <!--<nav class="navbar navbar-inverse" role="navigation" ng-controller="Menu">
        <div ng-include="'Menu.html'"></div>
    </nav>-->

    <script type="text/javascript" src="../../Scripts/jquery-3.1.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="../Scripts/angular.min.js"></script>-->
</body>
</html>