    <!--CONTENIDO-->
    <div class="container">
        <div class="col-md-4"></div>
        <h3 class="col-md-4">Opciones</h3>
        <div class="col-md-4"></div>
    </div>
    <div class="container" ng-controller="OpcionCtrl">
        <div ng-class="tipoError" data-ng-show="tieneError">
            <strong ng-show="tipoError=='alert alert-warning'">ADVERTENCIA: </strong>
            <strong ng-show="tipoError=='alert alert-danger'">ERROR: </strong>
            {{ error }}
        </div>
        <!--<div class="alert alert-danger" data-ng-show="tieneError">
            <strong>ERROR: </strong> {{ error }}
        </div>-->
        <!--MANTENIMIENTO-->
        <div class="row">
            <form name="frmOpcion" style="width:800px;margin:0px auto;">
                <input type="hidden" id="hdnId" data-ng-model="myopcion.Id" />
                <div class="container-fluid form-group">
                    <label for="txtNombre" class="col-md-2 control-label">Nombre: </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese el nombre de la opción (obligatorio)" data-ng-model="myopcion.Nombre" maxlength="50" required />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtNombreControlAsociado" class="col-md-2 control-label">Control Asociado: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtNombreControlAsociado" placeholder="Ingrese el nombre del control asociado (obligatorio)" data-ng-model="myopcion.NombreControlAsociado" maxlength="50" required />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtDescripcion" class="col-md-2 control-label">Descripción: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtDescripcion" placeholder="Ingrese la descripción de la opción" data-ng-model="myopcion.Descripcion" maxlength="200" />
                    </div>
                </div>
                <br />
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" data-ng-click="guardar()" data-ng-disabled="!frmOpcion.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancelar" data-ng-click="nuevo()" class="btn btn-danger" />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-hide="estaEditable">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Buscar" data-ng-click="buscar()" class="btn btn-primary" />
                        <input type="button" value="Nuevo" data-ng-click="nuevo()" class="btn btn-primary" />
                    </div>
                </div>
                <br />
            </form>
        </div>

        <!--LISTA-->
        <div class="row" data-ng-hide="estaEditable">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="col-md-3">Nombre</th>
                        <th class="col-md-4">Control Asociado</th>
                        <th class="col-md-4">Descripción</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="opcion in opciones">
                        <td>{{opcion.Nombre}}</td>
                        <td>{{opcion.NombreControlAsociado}}</td>
                        <td>{{opcion.Descripcion}}</td>
                        <td>
                            <p>
                                <input type="button" class="btn btn-primary" value="Modificar" data-ng-click="modificar(opcion)" />
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divLoader" ng-show="estaCargando">
            <img id="imgLoader" src="Images/ajax-loader.gif" class="ajax-loader" />
        </div>
    </div>