<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Midis Seguridad | Personas</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../Content/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../Content/style.css">
</head>
<body>
    <!--MENU-->
    <div ng-controller="MenusCtrl">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="Index.html">Midis Seguridad</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-repeat="modulo in modulos">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{modulo.Abreviatura}}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="menu in modulo.Menus">
                                <a href="{{menu.Ruta}}">{{menu.Nombre}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="col-md-4"></div>
        <h3 class="col-md-4">Personas</h3>
        <div class="col-md-4"></div>
    </div>
    <div class="container" ng-controller="PersonaCtrl">
        <div class="alert alert-danger" data-ng-show="tieneError">
            <strong>ERROR: </strong> {{ error }}
        </div>
        <!--<strong class="error">{{ error }}</strong>-->
        <!--MANTENIMIENTO-->
        <div class="row" data-ng-show="estaEditable">
            <form name="frmPersona" style="width:800px;margin:0px auto;">
                <input type="hidden" id="hdnId" data-ng-model="myperson.Id" />
                <div class="container-fluid form-group">
                    <label for="txtNombre" class="col-md-2 control-label">Nombre: </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese el nombre de la persona (obligatorio)" data-ng-model="myperson.Nombre" maxlength="100" required />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="cmbTipoDocumentoPersona" class="col-md-2 control-label">Tipo Documento: </label>
                    <div class="col-md-6">
                        <select id="cmbTipoDocumentoPersona" class="form-control" ng-options="tipoDocumentoPersona.Nombre for tipoDocumentoPersona in tiposDocumentosPersonas track by tipoDocumentoPersona.Id" data-ng-model="myperson.TipoDocumentoPersona">
                        </select>
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtNroDocumento" class="col-md-2 control-label">Numero Documento: </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="txtNroDocumento" placeholder="Ingrese el numero de documento de la persona (obligatorio)" data-ng-model="myperson.NumeroDocumento" maxlength="15" required />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtDireccion" class="col-md-2 control-label">Dirección: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtDireccion" placeholder="Ingrese la dirección de la persona" data-ng-model="myperson.Direccion" maxlength="255" />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtTelefono" class="col-md-2 control-label">Teléfono: </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtTelefono" placeholder="Ingrese el teléfono de la persona" data-ng-model="myperson.Telefono" maxlength="15" />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtCelular" class="col-md-2 control-label">Celular: </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtCelular" placeholder="Ingrese el celular de la persona" data-ng-model="myperson.Celular" maxlength="15" />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtEmail" class="col-md-2 control-label">Teléfono: </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="txtEmail" placeholder="Ingrese el email de la persona" data-ng-model="myperson.Email" maxlength="50" />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label class="col-md-2 control-label">Tipo: </label>
                    <div class="col-md-6">
                        <input type="radio" id="optNatural" name="Tipo" ng-model="myperson.Tipo" ng-value="true"> Natural<br>
                        <input type="radio" id="optJuridico" name="Tipo" ng-model="myperson.Tipo" ng-value="false"> Jurídico<br>
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label class="col-md-2 control-label">Ambito: </label>
                    <div class="col-md-6">
                        <input type="radio" id="optInterno" name="Tipo" ng-model="myperson.Ambito" ng-value="true"> Interno<br>
                        <input type="radio" id="optExterno" name="Tipo" ng-model="myperson.Ambito" ng-value="false"> Externo<br>
                    </div>
                </div>
                <!--<input type="hidden" id="hdnId" data-ng-model="mymodulo.Sistema" />-->
                <br />
                <div class="container-fluid form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" data-ng-click="guardar()" data-ng-disabled="!frmPersona.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancelar" data-ng-click="nuevo()" class="btn btn-danger" />
                    </div>
                </div>
                <br />
            </form>
        </div>

        <!--LISTA-->
        <div class="row" data-ng-hide="estaEditable">
            <form name="frmBusquedaPersona" style="width:800px;margin:0px auto;">
                <div class="container-fluid form-group">
                    <label for="txtBuscarNombre" class="col-md-2 control-label">Nombre: </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="txtBuscarNombre" placeholder="Ingrese el nombre de la persona para buscar" data-ng-model="nombre" maxlength="100" />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="cmbBuscarTipoDocumentoPersona" class="col-md-2 control-label">Tipo Documento: </label>
                    <div class="col-md-6">
                        <select id="cmbBuscarTipoDocumentoPersona" class="form-control" data-ng-options="tipoDocumentoPersona.Nombre for tipoDocumentoPersona in tiposDocumentosPersonas" data-ng-model="tipoDocumentoPersona"></select>
                    </div>
                </div>
                <p>
                    <input type="button" value="Buscar" data-ng-click="buscar()" class="btn btn-primary" />
                    <input type="button" value="Nuevo" data-ng-click="nuevo()" class="btn btn-primary" />
                </p>
            </form>
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="col-md-5">Nombre</th>
                        <th class="col-md-3">Tipo Documento</th>
                        <th class="col-md-3">Nro Documento</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="persona in personas">
                        <td>{{persona.Nombre}}</td>
                        <td>{{persona.TipoDocumentoPersona.Nombre}}</td>
                        <td>{{persona.NumeroDocumento}}</td>
                        <td>
                            <p>
                                <input type="button" class="btn btn-primary" value="Modificar" data-ng-click="modificar(persona)" />
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divLoader" data-ng-show="loading">
            <img id="imgLoader" src="../Images/ajax-loader.gif" class="ajax-loader" />
        </div>
    </div>

    <script type="text/javascript" src="../Scripts/jquery-3.1.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Angular/myApp.module.js"></script>
    <script type="text/javascript" src="../Angular/menusCtrl.js"></script>
    <script type="text/javascript" src="../Angular/personaCtrl.js"></script>
</body>
</html>