    <!--CONTENIDO-->
    <div class="container">
        <div class="col-md-4"></div>
        <h3 class="col-md-4">Sistemas</h3>
        <div class="col-md-4"></div>
    </div>
    <div class="container" ng-controller="SistemaCtrl">
        <div class="alert alert-danger" data-ng-show="tieneError">
            <strong>ERROR: </strong> {{ error }}
        </div>
        <!--MANTENIMIENTO-->
        <div class="row">
            <form name="frmSistema" style="width:800px;margin:0px auto;">
                <input type="hidden" id="hdnId" data-ng-model="mysistema.Id" />
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtCodigo" class="col-md-2 control-label">Código: </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="txtCodigo" placeholder="Ingrese el codigo del sistema (obligatorio)" data-ng-model="mysistema.Codigo" maxlength="02" required />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtNombre" class="col-md-2 control-label">Nombre: </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese el nombre del sistema (obligatorio)" data-ng-model="mysistema.Nombre" maxlength="50" required />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtAbreviatura" class="col-md-2 control-label">Abreviatura: </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtAbreviatura" placeholder="Ingrese la abreviatura del sistema (obligatorio)" data-ng-model="mysistema.Abreviatura" maxlength="20" required />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtDescripcion" class="col-md-2 control-label">Descripción: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtDescripcion" placeholder="Ingrese la descripción del sistema" data-ng-model="mysistema.Descripcion" maxlength="200" />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtNombreServidor" class="col-md-2 control-label">Nombre de Servidor: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtNombreServidor" placeholder="Ingrese la nombre del servidor donde se alojará el sistema" data-ng-model="mysistema.NombreServidor" maxlength="50" />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtIpServidor" class="col-md-2 control-label">Ip de Servidor: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtIpServidor" placeholder="Ingrese la ip del servidor donde se alojará el sistema" data-ng-model="mysistema.IPServidor" maxlength="15" />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtRutaFisica" class="col-md-2 control-label">Ruta Física: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtRutaFisica" placeholder="Ingrese la ruta física donde se alojará el sistema" data-ng-model="mysistema.RutaFisica" maxlength="200" />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtRutaLogica" class="col-md-2 control-label">Ruta Lógica: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtRutaLogica" placeholder="Ingrese la ruta lógica donde se alojará el sistema" data-ng-model="mysistema.RutaLogica" maxlength="200" />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="chkActivo" class="col-md-2 control-label">¿Está Activo?: </label>
                    <div class="col-md-6">
                        <input type="checkbox" id="chkActivo" name="Activo" ng-model="mysistema.EstaActivo"><br>
                    </div>
                </div>
                <br />
                <div class="container-fluid form-group">
                    <div class="col-md-offset-2 col-md-10" data-ng-show="estaEditable">
                        <input type="submit" value="Guardar" data-ng-click="guardar()" data-ng-disabled="!frmSistema.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancelar" data-ng-click="nuevo()" class="btn btn-danger" />
                    </div>
                    <div class="col-md-offset-2 col-md-10" data-ng-hide="estaEditable">
                        <input type="button" value="Nuevo" data-ng-click="nuevo()" class="btn btn-primary" />
                        <input type="button" value="Buscar" data-ng-click="buscar()" class="btn btn-primary" />
                    </div>
                </div>
                <br />
            </form>
        </div>

        <!--LISTA-->
        <div class="row" data-ng-hide="estaEditable">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="col-md-2">Código</th>
                        <th class="col-md-5">Nombre</th>
                        <th class="col-md-3">Abreviatura</th>
                        <th class="col-md-1">Activo</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sistema in sistemas">
                        <td>{{sistema.Codigo}}</td>
                        <td>{{sistema.Nombre}}</td>
                        <td>{{sistema.Abreviatura}}</td>
                        <td>{{sistema.Activo}}</td>
                        <td>
                            <p>
                                <input type="button" class="btn btn-primary" value="Modificar" data-ng-click="modificar(sistema)" />
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divLoader" data-ng-show="loading">
            <img id="imgLoader" src="Images/ajax-loader.gif" class="ajax-loader" />
        </div>
    </div>