<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="Content/bootstrap.min.css" media="screen">
</head>
<body>
    <h2>Sistemas</h2>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Midis Seguridad</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <!--<li class="dropdown" ng-repeat="sistema in sistemas">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{sistema.Abreviatura}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="modulo in modulos"><a href="#">{{modulo.Codigo}}</a></li>
                    </ul>
                </li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Sistemas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="Views/Sistemas/Sistemas.html">Administración de Sistemas</a></li>
                        <li><a href="Views/Sistemas/Modulo.html">Administración de Módulos</a></li>
                        <li><a href="Views/Sistemas/Menu.html">Administración de Menús</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Usuarios
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="Views/Personas/ProgramasSociales.html">Administración de Programas Sociales</a></li>
                        <li><a href="Views/Personas/Roles.html">Administración de Roles</a></li>
                        <li><a href="Views/Personas/Personas.html">Administración de Personas</a></li>
                        <li><a href="Views/Personas/Usuarios.html">Administración de Usuarios</a></li>
                        <li><a href="Views/Personas/MenusRoles.html">Administración de Menús por Rol</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <script type="text/javascript" src="Scripts/jquery-3.1.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</body>
</html>
