<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Midis Seguridad | Usuarios</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../Content/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../Content/style.css">
</head>
<body>
    <!--MENU-->
    <div ng-controller="MenusCtrl">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="Index.html">Midis Seguridad</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-repeat="modulo in modulos">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{modulo.Abreviatura}}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="menu in modulo.Menus">
                                <a href="{{menu.Ruta}}">{{menu.Nombre}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="col-md-4"></div>
        <h3 class="col-md-4">Usuarios</h3>
        <div class="col-md-4"></div>
    </div>
    <div class="container" ng-controller="UsuarioCtrl">
        <div class="alert alert-danger" data-ng-show="tieneError">
            <strong>ERROR: </strong> {{ error }}
        </div>
        <!--MANTENIMIENTO-->
        <div class="row">
            <form name="frmUsuario" style="width:800px;margin:0px auto;">
                <input type="hidden" id="hdnId" data-ng-model="myusuario.Id" />
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtUsuario" class="col-md-2 control-label">Usuario: </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="txtUsuario" placeholder="Ingrese el usuario (obligatorio)" data-ng-model="myusuario.Usuario" maxlength="100" required />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtContrasena" class="col-md-2 control-label">Contraseña: </label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" id="txtContrasena" placeholder="Ingrese la contraseña del usuario (obligatorio)" data-ng-model="myusuario.Contrasena" maxlength="50" required />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtApellidoPaterno" class="col-md-2 control-label">Apellido Paterno: </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="txtApellidoPaterno" placeholder="Ingrese el apellido paterno" data-ng-model="myusuario.ApellidoPaterno" maxlength="50" required />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtApellidoMaterno" class="col-md-2 control-label">Apellido Materno: </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="txtApellidoMaterno" placeholder="Ingrese el apellido materno" data-ng-model="myusuario.ApellidoMaterno" maxlength="100" required />
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <label for="txtNombres" class="col-md-2 control-label">Nombres: </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="txtNombres" placeholder="Ingrese el nombre" data-ng-model="myusuario.Nombres" maxlength="100" required />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label class="col-md-2 control-label">¿Caduca?: </label>
                    <div class="col-md-6">
                        <fieldset class="EsNatural">
                            <input type="checkbox" id="chkCaduca" name="Estado" ng-model="myusuario.EstaCaduca"><br>
                        </fieldset>
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtPeriodoCaducidad" class="col-md-2 control-label">Periodo Caducidad: </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtPeriodoCaducidad" placeholder="Ingrese el periodo en dias en que el usuario caduca (obligatorio)" data-ng-model="myusuario.PeriodoCaducidad" maxlength="10" required />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label class="col-md-2 control-label">¿Unico Ingreso?: </label>
                    <div class="col-md-6">
                        <input type="checkbox" id="chkCaduca" name="Estado" ng-model="myusuario.EsUnicoIngreso"><br>
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label class="col-md-2 control-label">¿Otros Logeos?: </label>
                    <div class="col-md-6">
                        <input type="checkbox" id="chkCaduca" name="Estado" ng-model="myusuario.TieneOtrosLogeos"><br>
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label for="txtEstado" class="col-md-2 control-label">Tipo: </label>
                    <div class="col-md-6">
                        <input type="radio" id="optActivo" name="Tipo" ng-model="myusuario.Tipo" value="I"> Interno<br>
                        <input type="radio" id="optInactivo" name="Tipo" ng-model="myusuario.Tipo" value="E"> Externo<br>
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <label class="col-md-2 control-label">¿Está activo?: </label>
                    <div class="col-md-6">
                        <input type="checkbox" id="chkEstado" name="Estado" ng-model="myusuario.EstaActivo"><br>
                    </div>
                </div>
                <br />
                <div class="container-fluid form-group" data-ng-show="estaEditable">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" data-ng-click="guardar()" data-ng-disabled="!frmUsuario.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancelar" data-ng-click="nuevo()" class="btn btn-danger" />
                    </div>
                </div>
                <div class="container-fluid form-group" data-ng-hide="estaEditable">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Buscar" data-ng-click="buscar()" class="btn btn-primary" />
                        <input type="button" value="Nuevo" data-ng-click="nuevo()" class="btn btn-primary" />
                    </div>
                </div>
                <br />
            </form>
        </div>

        <!--LISTA-->
        <div class="row" data-ng-hide="estaEditable">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="col-md-2">Usuario</th>
                        <th class="col-md-1">Caduca</th>
                        <th class="col-md-1">Unico Ingreso</th>
                        <th class="col-md-1">Otros Logeos</th>
                        <th class="col-md-1">Tipo</th>
                        <th class="col-md-1">Estado</th>
                        <th class="col-md-4">Persona</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in usuarios">
                        <td>{{usuario.Usuario}}</td>
                        <td>{{usuario.Caduca}}</td>
                        <td>{{usuario.UnicoIngreso}}</td>
                        <td>{{usuario.OtrosLogeos}}</td>
                        <td>{{usuario.Tipo}}</td>
                        <td>{{usuario.Estado}}</td>
                        <td>{{usuario.ApellidoPaterno}} {{usuario.ApellidoMaterno}} {{usuario.Nombres}}</td>
                        <td>
                            <p>
                                <input type="button" class="btn btn-primary" value="Modificar" data-ng-click="modificar(usuario)" />
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divLoader" data-ng-show="loading">
            <img id="imgLoader" src="../Images/ajax-loader.gif" class="ajax-loader" />
        </div>
    </div>

    <script type="text/javascript" src="../Scripts/jquery-3.1.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Angular/myApp.js"></script>
    <script type="text/javascript" src="../Angular/Controllers/menusCtrl.js"></script>
    <script type="text/javascript" src="../Angular/Controllers/usuarioCtrl.js"></script>
</body>
</html>