<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>

  <log4net>
    <appender name="LogInfoAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="E:\proyectos\RNU\log\SlnSeguridad_Service_Layer(debug)-%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="INFO"/>
      </filter>
    </appender>
    <appender name="LogErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="E:\proyectos\RNU\log\SlnSeguridad_Service_Layer(error)-%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <level value="ALL"/>
      <appender-ref ref="LogInfoAppender"/>
      <appender-ref ref="LogErrorAppender"/>
    </root>
    <logger name="NHibernate">
      <level value="ERROR"/>
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR"/>
    </logger>
  </log4net>
</configuration>